body{
    background-color:aquamarine ;
}

.header_div{
    background-color: blueviolet;
    color: azure;
}

.header_div p{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: lighter;
}

.main_div button {
    margin-top: 30px;
    background-color: darkblue;
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    border-color:rgb(6, 58, 230);
}

.copy_right_footer{
    background: royalblue;
    position:fixed;
    color: rgb(0, 0, 0);
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(123, 12, 228);
}